body {
    background-color:beige;
    
    }
.bannerBgImage{
    height: 100vh;
    background: url("/images/bannerimage.jpg");
    background-size: cover;
    position:relative;
}
  
.bannerText{
    text-align: centre;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:antiquewhite;
}
.bannerTitle{
    font-size: 4 rem;
}
.bannerDesc{
    font-size:2rem;
}


.aboutSection{

    height:550px;
    width:200px;
    

}
.blueprism{
    height:150px;
    width:300px;

}
.alteryx{
    height:150px;
    width:300px;

}
.paloalto{
    height:150px;
    width:300px;
}
.awspic{
    height:150px;
    width:300px;

}


.social-icons{

  padding:30px;

  background-color:#000000;

  text-align: center;

}

.social-icons a{

  color:#fff;

  line-height:30px;

  font-size:30px;

  margin: 0 5px;

  text-decoration:none;

  

}

.social-icons a i{

  line-height:30px;

  font-size:30px;

  -webkit-transition: all 200ms ease-in;

  -webkit-transform: scale(1); 

  -ms-transition: all 200ms ease-in;

  -ms-transform: scale(1); 

  -moz-transition: all 200ms ease-in;

  -moz-transform: scale(1);

  transition: all 200ms ease-in;

  transform: scale(1);

}

.social-icons a:hover i{

  box-shadow: 0px 0px 150px #000000;

  z-index: 1;

  -webkit-transition: all 200ms ease-in;

  -webkit-transform: scale(1.5);

  -ms-transition: all 200ms ease-in;

  -ms-transform: scale(1.5);   

  -moz-transition: all 200ms ease-in;

  -moz-transform: scale(1.5);

  transition: all 200ms ease-in;

  transform: scale(1.5);

}